<div class="card pro" style="width: 20rem;">
   <div class="image">
    <img [src]="content.images[0]"  class="card-img-top" alt="">
  </div>
    <div class="card-body">
      <h3 class="card-title">{{content.title}}</h3>
      <ul class="card-text">
        <li>{{content.price}}</li>
        <li>{{content.description}}</li>
    </ul>
      @if(content.stock>0)
      {
        <span class="badge bg-success">InStock</span>
      }
      @else{
        <span class="badge bg-danger">OutStock</span>

      }
    </div>
    <button  (click)="showDetails(content.id)" class="btn btn-dark">View</button>
    
  </div>