<h2 style="text-align: center;" class="m-3">Users</h2>
<hr style="height: 5px ; margin:5px ; background: #ccc;" />
<div class="row row-cols-1 row-cols-md-3 g-4">
  @for(user of users; track user.id){
    <div class="card-body">
        <img [src]="user.image" class="card-img-top" alt="..." />
            <h4>{{user.username}}
          @if(user.is_verified) {
            <i class="fa-solid fa-star" style="color: #63E6BE;"></i>
          }
        @else {
            <i class="fa-solid fa-star" style="color: #f50000;"></i>

        }
        </h4>
          <h5 class="card-title">{{ user.email }}</h5>
          <p class="card-text">
            {{ user.phone }}
          </p>
    </div>
  }
</div>

 


  